<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
    <mat-tab label="Comunicazioni">

        <div class="accordion-container">

            <mat-accordion>
                @for (comunicazione of comunicazioni; track comunicazione){
                    <mat-expansion-panel 
                        [ngClass]="$index==opened_panel ? 'open' : 'closed'" 
                        (click)="expansion_panel_click($index);">
                    <mat-expansion-panel-header>
                        <mat-panel-title> 
                            {{comunicazione.titolo}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p> {{comunicazione.descrizione}} </p>
                    </mat-expansion-panel>
                } @empty {
                    <p class="comunicazioni-empty"> 
                        Non ci sono comunicazioni
                    </p>
                }
              </mat-accordion>
        </div>
    </mat-tab>
    <mat-tab label="Sondaggi">
        
        <span class="example-list-section">
            @for (sondaggio of sondaggi; track sondaggio) {
                <p class="sondaggio-header">
                    {{sondaggio.question}}
                </p>
                <ul style="display: flex; flex-direction: column;">
                @for (answer of sondaggio.answers; track answer) {
                    <li>
                        <mat-checkbox [(ngModel)]="answer.selected">
                            {{answer.text}}
                        </mat-checkbox>
                    </li>
                }
                </ul>
            }
          </span>

    </mat-tab>
    <mat-tab label="Gruppi">Content 3</mat-tab>
</mat-tab-group>