.lavatrice-container{
    padding: 10px 20px; 
    box-sizing: border-box; 
    height: 100%; 
    width: 100%;
}

.prenotazioni-container{
    height: 100%; 
    width: 100%; 
    overflow-y: scroll; 
    position: relative;
}

.time-cell{
    width: 100%; 
    
    border-top: 1px solid black;
    box-sizing: border-box;   
}

.prenotazione{
    background-color: var(--tertiary);
    position: absolute;
    right: 0px;
    width: 80%;
    border-radius: 20px;
    color: white;
    padding: 10px;
    box-sizing: border-box;

    p{
        margin: 0;
    }
}


