<div class="">
    <div class="login-title">
        <h2>{{title}}</h2>
    </div>
    <div class="login-content">
        <form [formGroup]=actualForm class="login">
            @for (f of list; track $index) {
                <mat-form-field class="login" appearance="fill">
                    <mat-label>{{f.charAt(0).toUpperCase() + f.slice(1)}}</mat-label>
                    <input matInput type={{f}} placeholder={{f}} autocomplete={{f}}  [formControlName]="f">
                </mat-form-field>
                <br>
            }

            <button mat-raised-button type="submit" (click)="submit()">{{send}}</button>
        </form>
    </div>
    @for (s of errorMSG.split("\n"); track $index) {
    <h6>{{s}}</h6>
    }
    @if (action == "register") {
    <button mat-button (click)="action='login'" >
        Sei già registrato? Clicca per accedere!
    </button><br>
    }

    @if (action == "login") {
    <button mat-button (click)="action='register'">
        Non sei registrato? Clicca qui per registrarti!
    </button><br>
    }
</div>
<button (click)="debugLogout()"> debugLogout </button>
{{authService.currentUserSig()?.nome}}