<mat-toolbar color="primary">
  <div [ngStyle]="{'background-image': 'url(\'logo.png\')'}"> 
  </div>
  
  <div>
    <button mat-icon-button routerLink="profilo"><mat-icon inline> person </mat-icon></button>
  </div>
</mat-toolbar>

<div class="app-content">
  <router-outlet> </router-outlet>
</div>

<div class="app-navigator">
  <div><button mat-icon-button routerLink="comunita"> <mat-icon inline> groups </mat-icon> </button> </div>
  <div><button mat-icon-button routerLink="comunicazioni"> <mat-icon inline> email </mat-icon> </button> </div>
  <div><button mat-icon-button routerLink="calendario"> <mat-icon inline> event </mat-icon> </button> </div>
  <div><button mat-icon-button routerLink="comunicazioni"> <mat-icon inline> search </mat-icon> </button> </div>
  <div><button mat-icon-button routerLink="admin"> <mat-icon inline> admin_panel_settings </mat-icon> </button> </div>
</div>